<p id="notice"><%= notice %></p>

<%= form_with(model: painting, local: true) do |form| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <%= form.text_field :name, class: 'form-control', placeholder: 'e.g. Fisteral Beach', required: true %>
    </div>

    <div class="form-group col-md-6">
      <label for="price">Price</label>
      <%= form.number_field :price, class: 'form-control', placeholder: 'eg. 100.00 or 50', required: true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">Size</label>
      <%= form.text_field :size, class: 'form-control', placeholder: 'eg. 10" x 16"' %>
    </div>

    <div class="form-group col-md-8">
      <label for="inputState">Description</label>
      <%= form.collection_select :description, Description.all,:description,:description, {}, class: 'form-control' %>
    </div>
  </div>

  <hr>

  <%= form.submit 'Upload', class: 'btn btn-primary', type: 'submit' %>
<% end %>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>