<%= form_with(model: painting, local: true) do |form| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <%= form.text_field :name, class: 'form-control', placeholder: 'e.g. Fisteral Beach', required: true %>
    </div>

    <div class="form-group col-md-6">
      <label for="price">Price</label>
      <%= form.number_field :price, class: 'form-control', placeholder: 'eg. 100.00 or 50', required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description(Optional)</label>
    <%= form.text_field :description, class: 'form-control', placeholder: 'eg. 10inch x 20inch canvas of fisteral' %>
  </div>

  <hr>

  <%= form.submit 'Upload', class: 'btn btn-primary', type: 'submit' %>
<% end %>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>