<section class="portfolio-section">
  <div class="container-fluid p-md-0 ">

    <div class="row portfolios-area">



      <div class="mix col-lg-6 col-md-6 web">
        <a href="<%= image_url('paintings/lynne1')%>" class="portfolio-item set-bg" style="background-image: url(<%= image_url('paintings/lynne1')%>)">
          <div class="pi-inner">
            <h2>Test</h2>
          </div>
        </a>
      </div>

      <div class="mix col-lg-6 col-md-6 digital">
        <a href="<%= image_url('paintings/lynne2')%>" class="portfolio-item set-bg" style="background-image: url(<%= image_url('paintings/lynne2')%>)">
          <div class="pi-inner">
            <h2>Test 2</h2>
          </div>
        </a>
      </div>

      <div class="mix col-lg-6 col-md-6 web">
        <a href="<%= image_url('paintings/1')%>" class="portfolio-item set-bg" style="background-image: url(<%= image_url('paintings/lynne3')%>)">
          <div class="pi-inner">
            <h2>Test</h2>
          </div>
        </a>
      </div>

      <div class="mix col-lg-6 col-md-6 digital">
        <a href="<%= image_url('paintings/2')%>" class="portfolio-item set-bg" style="background-image: url(<%= image_url('paintings/lynne4')%>)">
          <div class="pi-inner">
            <h2>Test 2</h2>
          </div>
        </a>
      </div>




    </div>

  </div>
</section>