<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card-body">
        <p id="notice"><%= notice %></p>
        <h1>Upload a new painting</h1>
        <hr>
        <%= render 'paintings/form', painting: @painting %>

        <hr>

        <h1>Add Description</h1>
        <%= render 'descriptions/index' %>
        <br>
        <%= render 'descriptions/create_form', description: @description %>

        <hr>

        <h1>Manage paintings</h1>
        <%= render 'paintings/table' %>
      </div>
    </div>
  </div>
</div>