<div class="page-section">
  <div class="container">
    <%= link_to '< back', paintings_path %>
    <hr>
    <%= image_tag @painting.image.url, class: 'full-image' %>
    <hr>
    <span>
      <h2><%= "#{@painting.name} | £#{@painting.price}" %></h2>
      <p><%= @painting.size %> <%= @painting.description %></p>
      <%= 'This painting has sold, but if you are interested in something similar please enquire below!' if @painting.sold %>
      <hr>
        <a href="mailto:lynne.campbell786@btinternet.com?subject=<%= @painting.name %>&body=<%=
          "Hello Lynne," \
          "I'm interested in #{@painting.name} #{@painting.description} " \
          "advertised on your website." %>">enquire</a>
    </span>
  </div>
</div>