<!DOCTYPE html>
<html>
  <head>
    <title>Lynne Campbell - Artist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if request.original_url.to_s.include?('show') %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/gallery' %>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
